/**** About us ****/

.header-about-us
	.title
		font-size: 2.77em
		padding-bottom: 0
.about-us
	padding: 30px 8%
	.col-left
		float: left
		width: 72%
		.history, p
			font-size: .896em
			line-height: 24px
		.revolt-today-text
			margin: 30px 0 40px 0
			padding: 20px 40px
			font-size: 1.1em
			line-height: 30px
			background: #f7f8f9
		.receives
			font-size: .896em
		.receives-list
			padding: 0 10px
		.receives-list li
			padding: 0 0 13px 30px
			font-size: .899em
			font-weight: 700

			&:before
				content: ""
				display: inline-block
				width: 15px
				height: 10px
				margin-left: -30px
				padding-left: 10px
				background: url("/assets/images/check_mark.png") no-repeat center

	.col-right
		float: right
		width: 24%
		p
			margin-top: 15px
			font-size: .69em
			line-height: 20px

/**** Questions and answers ****/

.header-questions-answers
	.title
		font-size: 2.77em
		padding-bottom: 0
.questions-answers
	padding: 30px 8% 70px 8%
	.wrap-questions-answers
		margin-bottom: 10px
	.questions
		font-weight: 700
		font-size: 1.1em
		transition: color .3s
		&:after
			content: "\f107"
			display: inline-block
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
		&:hover
			cursor: pointer
			color: $red
	.answers
		height: 0
		overflow: hidden
		line-height: 24px
		font-size: .89em
	.show-answer
		display: none
	.show-answer[type="checkbox"]:checked ~ .answers
		height: auto
	.show-answer[type="checkbox"]:checked ~ .questions:after
		transform: rotateX(180deg)

/**** Contacts ****/

.contact
	padding: 0 2% 0 2%
	.phone-mail,
	.address
		border-right: solid 1px #e9ecee
	.phone-mail,
	.address,
	.work-time
		display: table-cell
		width: 33.33%
		padding: 35px 40px 45px  5%
		font-style: normal
		font-size: .89em
		.text
			text-transform: uppercase
			letter-spacing: 1px
			font-size: .78em
			color: $grey
	.phone-mail
		.phone
			a
				float: right
				width: 62%
				line-height: 28px
		.mail
			margin-top: 15px
			a
				float: right
				width: 62%
	.address
		p
			margin-top: 10px
	.work-time
		p
			margin-top: 10px
			line-height: 28px

.map
	width: 100%
	height: 373px

.contact-form
	padding: 30px 8% 45px 8%
	.question-form-report
		transition: all 3s;
	h3
		font-weight: 700
		font-size: 1.55em
	form
		margin-top: 25px
	.input
		font-size: .93em
		width: 33.333%
	.input + .input
		margin-left: 3.7%
	.input-text
		margin: 20px 0
		font-size: 1.06em
		resize: none
		width: 71%
		height: 95px
	.input-text::placeholder,
	.input::placeholder
		color: $grey
		font-size: 1em
	.input-text,
	.input
		padding: 10px
		border: solid 1px #bebebe
		box-shadow: inset 0 2px 0 0 rgba(199, 190, 190, 0.2)
	.contact-form-btn
		padding: 15px 44px
		font-size: .9em
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 2px
		border: solid 3px #000000
		border-radius: 25px
		background: transparent
		transition: all .3s
