/**** About us ****/

.header-about-us
	.title
		font-size: 2.77em
		padding-bottom: 0
.about-us
	padding: 30px 8%
	.col-left
		float: left
		width: 72%
		.history
			font-size: .896em
			line-height: 24px
		.revolt-today-text
			margin: 30px 0 40px 0
			padding: 20px 40px
			font-size: 1.1em
			line-height: 30px
			background: #f7f8f9
		.receives
			font-size: .896em
		.receives-list
			padding: 0 10px
		.receives-list li
			padding: 0 0 13px 30px
			font-size: .899em
			font-weight: 700

			&:before
				content: ""
				display: inline-block
				width: 15px
				height: 10px
				margin-left: -30px
				padding-left: 10px
				background: url("../img/check_mark.png") no-repeat center

	.col-right
		float: right
		width: 24%
		p
			margin-top: 15px
			font-size: .69em
			line-height: 20px
