/**** Portfolio page ****/

.portfolio-page
	.folio-item:nth-child(7),
	.folio-item:nth-child(8)
		position: relative
		width: 46.9%
		margin-right: 3%
		.folio-grad
			opacity: .5
		.folio-link:hover p
			color: #ffffff

		&:hover .folio-grad
			opacity: 1
		p,
		.folio-city
			position: absolute
		p
			bottom: 40px
			left: 45px
			color: #ffffff
			font-size: 1.1em
		.folio-city
			bottom: 20px
			left: 45px



