@import "variable"
@import "reset_custom"




/** sticky sidebar **/
.sticky
	position: fixed
	z-index: 101

.stop
	position: relative
	z-index: 101
/** clearfix **/

.clearfix:after
	content: "."
	display: block
	clear: both
	visibility: hidden
	height: 0

/** Up button **/

.up-btn
	display: none
	position: fixed
	height: auto

	bottom: 35px
	right: 35px
	z-index: 999
	a
		font-size: .74em
		color: $grey
	i
		font-size: 1.5em
/**** Aside ****/

.bg-sidebar
	position: fixed
	top: 0
	bottom: 0
	width: 200px
	display: block
	background: #1a191a
.sidebar
	position: absolute
	display: block
	width: 200px
	padding: 0 20px
	.min-logo_name
		display: none
		margin: 0 -20px
		height: 50px
		background: #1a191a
		h1
			padding-top: 12px
			font-size: 1.1em
			text-transform: uppercase
			color: #ffffff
	.logo
		width: 100%
		padding: 25px 15px
	li
		display: block
		a
			display: block
			padding:  10px
	.sidebar-main
		margin-top: 20px
		a
			font-size: .6em
			font-weight: 700
			text-transform: uppercase
			letter-spacing: 3px
			line-height: 22px
			color: #f7f8f9
			&:hover
				color: #e33959
	.sidebar-sub
		margin-top: 15px
		a
			font-size: .67em
			color: $grey
			&:hover
				color: #f7f8f9

	.sidebar-address
		position: relative
		margin-top: 50px
		.phone-cbox
			display: none
		.phone-cbox[type="checkbox"]:checked ~ .phone
			height: 97px
		.phone-cbox[type="checkbox"]:checked ~ label .phone-arrow
			transform: rotateX(180deg)
		label
			position: absolute
			right: 20px
			bottom: 25px
		.phone-arrow
			cursor: pointer
			color: #676767
		a
			padding-left: 10px
			font-style: normal

	.phone
		height: 25px
		overflow: hidden
		transition: height 1s
		a
			display: inline-block
			font-size: .85em
			color: #f7f8f9
		.phone-bold
			font-weight: 700
	.mail
		a
			font-size: .6em
			color: $grey

	.download__search
		margin-top: 110px
		.download-price
			font-size: .67em
			color: $grey
		i
			padding: 0 8px
	.form-search
		position: relative
		margin-top: 15px
		padding-bottom: 110px
		.search
			width: 160px
			height: 35px
			padding-left: 15px
			padding-right: 15px
			border: none
			border-radius: 20px
			outline: none
			background: #262526
			color: $grey
		.button-search
			position: absolute
			top: 0
			left: 120px
			height: 35px
			width: 40px
			border: none
			border-radius: 0  20px  20px 0
			outline: none
			cursor: pointer
			background: #262526 url("../img/all_icons.png") no-repeat -5px -208px

/**** Main ****/

.container
	padding-left: 200px

/*** Header ***/

header
	padding: 30px 8%
	background: #f7f8f9
	li
		display: inline-block
		font-size: .74em
		&.active
			color: $grey
			&::before
				content: "\f105"
				display: inline-block
				font-family: $awesome
				color: black
				padding: 0 8px
				font-weight: 900
	.title
		padding: 35px 0 10px 0
		font: 3em "AvenirNextW1G-Light"

/*** Header nav ***/

.navbar
	padding: 0 8%
	margin-top: -3px

	.navbar-list
		display: inline-block
		padding-right: 45px
		&:last-child
			padding-right: 0
		a
			display: inline-block
			padding: 20px  0
			border-top: solid 4px transparent
			font-size: .7em
			font-weight: 700
			letter-spacing: 2px
			text-transform: uppercase
			transition: border .3s, color .3s
			&:hover
				color: #df1b3f
		.active
			border-top: solid 4px #2e2e2e

/*** News - main content ***/

.news:last-of-type
	border-bottom: none
.news
	padding: 20px 8%
	border-bottom: solid 1px #e9ecee
	.news-title
		font-size: 1.66em
		font-weight: 700
.news-time
	font-size: .7em
	color: $grey
.news
	.news-content
		margin: 25px 0
		img
			display: block
			max-width: 100%
			margin: 0 auto
		.news-text
			margin-top: 40px
			font-size: .95em
	.read-more
		font-size: .7em
		font-weight: 700
		i
			padding-right: 10px
			font-size: 1.3em

	.social
		float: right
		li
			display: inline-block
		a
			display: inline-block
			width: 90px
			height: 25px
			background: url("../img/social_link.png") no-repeat
		.f-link
			background-position: -97px
		.g-link
			background-position: -189px

	.to_fool-1,
	.to_fool-2,
	.to_fool-3
		transition: color .3s
	.to_fool-1:hover,
	.to_fool-2:hover,
	.to_fool-3:hover
		cursor: pointer
		color: #df1b3f

/*** Pop up ***/
/* callback-box */

.callback-box
	width: 100%
	min-height: 110px
	margin-top: 50px
	padding: 0 8%
	background: #df1b3f
	text-align: center
	h3
		display: inline-block
		margin-top: 15px
		color: #ffffff

	.callback-btn
		display: inline-block
		margin: 35px 0 12px 12px
		padding: 15px 28px

		font-size: .8em
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 1px

		background: #ffffff
		border-radius: 25px
		&:hover
			color: #df1b3f
			cursor: pointer

/***  Footer ***/

footer
	width: 100%
	height: 110px
	background: #1a191a
	color: #ffffff
.footer-box
	display: inline-block
	width: 49%
	padding: 40px 0 0 50px
	font-size: .74em
	p
		margin: 0
	img
		float: left
	.footer-map, .footer-create
		color: $grey
.footer-fresh
	p
		margin-left: 70px

/* Pop up content  */

.modal-box
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(243, 244, 245, 0.8)
	z-index: 999
	.modal-content
		position: relative
		max-width: 650px
		height: 400px
		margin: 8% auto
		text-align: center
		background: #ffffff
		h3
			display: inline-block
			margin-top: 40px
			font-size: 2em
		.modal-close
			position: absolute
			top: 10px
			right: 15px
			cursor: pointer
			color: $grey
	.modal-box-inp
		display: inline-block
		width: 40%
		margin: 20px 10px
		label
			display: block
			font-size: .6em
			text-align: start
			color: $grey
		input
			width: 100%
			padding: 10px 5px
	.modal-box-btn
		display: inline-block
		margin: 35px 0 12px 12px
		padding: 15px 28px

		font-size: .8em
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 1px

		background: #ffffff
		border-radius: 25px

/** Include style for templates **/

@import "templates"