@import "variable"
/*--- Reset style ---*/
a
	color: $main-col-text
	&:hover
		text-decoration: none
		color: $main-col-text

ul,
ol
	list-style: none
	margin: 0
	padding: 0
h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	padding: 0

body
	position: relative
	font: 17px $os-regular
	color: $main-col-text
/*--- Header start ---*/

header
	background: #f7f8f9
	padding: 0 7%
	margin-left: 200px
	.breadcrumb-custom
		background: none
		margin: 0
		padding: 50px 0 40px
		font-size: .77em
		.active
			color: #afafaf
	.breadcrumb-custom > li + li:before
		content: '\e080'
		display: inline-block
		padding: 0 7px
		font-family: 'Glyphicons Halflings'
		font-size: .6em
		font-style: normal
		font-weight: normal
		-webkit-font-smoothing: antialiased
		color: $main-col-text
	h1
		font: 3em 'AvenirNextW1G-Light'
		padding-bottom: 45px

/*--- Header end ---*/

/*--- Nav start ---*/
.hamburger
	display: none

.sidebar
	position: fixed
	top: 0
	width: 200px
	min-height: 100%
	background: #1a191a
	color: #fff
	transition: left .8s
	img
		max-width: 100%
		padding: 35px

	nav
		margin: 15px 30px 0 15px
		.sidebar-menu
			li
				font: .72em/20px $os-bold
				text-transform: uppercase
				letter-spacing: 2px
			a
				color: #fff
		.sidebar-sub-menu
			margin-top: 15px
			li
				font-size: .7em
			a
				color: #afafaf

/*-- Sidebar-mob --*/

.sidebar-mob
	position: fixed
	top: 9999px
	height: 100%
	width: 50px
	background: #1a191a
	z-index: 995
	img
		margin: 8px
	span
		height: 50px
		width: 50px
		padding: 12px
		font-size: 24px
		color: #ffffff
	.glyphicon-remove
		position: absolute
		background: #010101
	.remove-men
		top: 50px
		display: none
	.remove-search
		top: 100px
		display: none

/*--- Nav end ---*/




.wrap
	margin-left: 200px
	padding: 0 7%
	height: 3000px



