
    <!-- Header start -->

    <header id="home">
        <ol class="breadcrumb breadcrumb-custom ">
            <li><a href="#">Главная</a></li>
            <li class="active">Новости</li>
        </ol>

        <h2 class="title">
            Только 4% киевлян беспокоит большое количество
            уличной рекламы — соц. опрос
        </h2>
        <time class="news-time" datetime="2017-04-09">9 марта 2017</time>

    </header>

    <!-- Header end -->

    <!-- News 1 -->

    <article class="news clearfix">

        <h3>
            Опрос социологической группы Рейтинг выявил,
            что лишь 4% жителей столицы беспокоит чрезмерное количество уличной рекламы,
            сообщил основатель Рейтинга Игорь Тищенко.
        </h3>
        <figure class="news-content">

            <img src="img/photo_news1.jpg" alt="Фото">
            <figcaption class="author-ph">Фото: Антон Воротников</figcaption>

            <p>
                Среди проблем, беспокоящих киевлян,
                на первом месте — тарифы на коммунальные услуги (77%).
                Треть опрошенных волнует коррупция в городских органах власти,
                работа коммунальных служб, качество дорог и коммунальных услуг.
                Почти четверть киевлян беспокоят хаотические парковки и благоустройство
                дворов, 21% опрошенных — пробки на дорогах, квартирные кражи,
                19% — хаотичная застройка города, 13% —  большое количество МАФов.

            </p>
            <p>
                Практически половина киевлян (47%) считает,
                что концепция реформирования внешней рекламы в столице должна быть компромиссным решением,
                которое удовлетворит и бизнес, и власть.
            </p>

            <img src="img/photo_news2.jpg" alt="Фото">
            <figcaption class="author-ph">Фото: Антон Воротников</figcaption>

            <p>
                Среди проблем, беспокоящих киевлян,
                на первом месте — тарифы на коммунальные услуги (77%).
                Треть опрошенных волнует коррупция в городских органах власти,
                работа коммунальных служб, качество дорог и коммунальных услуг.
                Почти четверть киевлян беспокоят хаотические парковки и благоустройство
                дворов, 21% опрошенных — пробки на дорогах, квартирные кражи,
                19% — хаотичная застройка города, 13% —  большое количество МАФов.

            </p>
            <p>
                Практически половина киевлян (47%) считает,
                что концепция реформирования внешней рекламы в столице должна быть компромиссным решением,
                которое удовлетворит и бизнес, и власть.
            </p>

        </figure>

        <a id="read"   class="read-more " href="../index.html">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Вернутся к списку новостей
        </a>
        <ul class="social">
            <li>
                <a class="v-link" href="" target="_blank"></a>
            </li>
            <li>
                <a class="f-link" href="" target="_blank"></a>
            </li>
            <li>
                <a class="g-link" href="" target="_blank"></a>
            </li>
        </ul>
    </article>



