
/*AvenirNextW1G-Light*/
@font-face {
    font-family: "AvenirNextW1G-Light";
    src: url("../fonts/Avenir/AvenirNextW1G-Light.eot");
    src: url("../fonts/Avenir/AvenirNextW1G-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Avenir/AvenirNextW1G-Light.woff") format("woff"),
    url("../fonts/Avenir/AvenirNextW1G-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


