
/***** Width 1600 *****/

@media all and (min-width: 1600px) {

}

/***** Width 1280 *****/

@media all and (min-width: 1280px) {
}

/***** Width 1024 *****/

@media all and (min-width: 1024px) {

}

/***** Width 768px *****/
@media all and (max-width: 768px) {
    body{
        font-size: 16px;
    }

/******* Sidebar *******/

    .sidebar-main,
    .sidebar-sub,
    .sidebar-address,
    .download-price,
    .logo{
        display: none;
    }
    .sidebar, .bg-sidebar {
        left: -200px;
        background: #000000;
    }
    .sidebar .min-logo_name {
        display: block;
    }
    .mobile-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50px;
        background: #1a191a;
        z-index: 97;
    }
    .mobile-sidebar li {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: url("../img/all_icons.png") no-repeat;
    }
    .mobile-sidebar .menu-btn {
        background-position: -1px -71px;
    }
    .mobile-sidebar .phone-btn {
        background-position: -1px -135px;
    }


/*** Mobile class for script ***/

    .open {
        display: block;
    }
    .open-sidebar {
        left: 50px;
    }
    .mobile-sidebar .active {
        background: #000000 url("../img/all_icons.png") no-repeat 0 -253px;
    }

/***** Container *****/

    .container{
        padding-left: 50px;
    }
    .navbar,
    .callback-box,
    .bottom-news
    {
        padding: 0 6%;
    }

/**** Main ****/

    .header-main .header-main-cont{
        padding-bottom: 35px;
    }
    .header-main{
        padding: 0 3%;
    }

    .header-main .header-main-cont h2 {
        margin-top: 40px;
        padding: 0;
        font-size: 1.24em;
    }
    .header-main .header-main-nav li{
        width: 54px;
        margin: 0;
    }
    .header-main .header-main-nav {
          margin-top: 15px;
    }
    .header-main .header-main-nav a{
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-size: 40px;
    }
    .header-main .header-main-nav a:hover {
        background-color: transparent;
    }
    .header-main .header-main-nav .baner{
            background-position: 5px -13px;
        }
    .header-main .header-main-nav  .on-tr{
            background-position: 3px -72px;
        }
    .header-main .header-main-nav  .at-tr{
            background-position: 5px -135px;
        }
    .header-main .header-main-nav  .print{
            background-position: 0 -202px;
        }
    .header-main .header-main-nav  .s-wind{
            background-position: 2px -266px;
        }
    .header-main .header-main-nav .tr{
            background-position: -3px -316px;
        }

    .header-main .header-main-nav span{
        display: none;
    }

    .header-main .header-calc h3 {
        margin-top: 10px;
    }
/**** News ****/

    .header-news{
        padding: 15px 6%;
    }
    .news{
        padding: 25px 6%;
    }
    .navbar .navbar-list{
        padding-right: 20px;
    }
    .navbar .navbar-list a:hover{
        color: #2e2e2e ;
    }
    .navbar .navbar-list:last-child{
        padding-right: 0;
    }
}
/***** Width 720px *****/

@media all and (max-width: 720px){
    .navbar .navbar-list{
        display: block;
    }
}

/***** Width 524px *****/

@media all and (max-width: 524px){

    /* Footer */
    footer{
        height: 100%;
        padding: 20px 6% 30px 6%
    }
    .footer-box{
        display: block;
        width: 238px;
        margin: 0 auto;
    }
    .footer-fresh{
        margin-top: 20px;
    }
    .footer-fresh .logo-fresh{
        margin-left: 0;
    }
}

/***** Width 480px *****/

@media all and (max-width: 480px){

/* Header */

    header .title{
        padding: 15px 0 10px 0;
        font-size: 1.8em;
    }
    .navbar .navbar-list a {
        padding: 12px 0;
        font-size: .735em;
    }


 /*** Main Header ***/

    .header-main .header-main-nav li{
        width: 38px;
    }

/* News */
    .news .news-title {
        margin-bottom: 10px;
        font-size: 1.26em;
        line-height: 25px;
    }
    .news .news-content {
        margin: 10px 0;
    }
    .news .news-content .news-text {
        margin-top: 15px;
        font-size: .9em;
        line-height: 22px;
    }
    .news .read-more {
        font-size: .8em;
    }
    .social{
        margin-top: 15px ;
    }
/* Pop up*/
    .callback-box {
        margin-top: 25px;
    }
    .callback-box h3{
        margin-right: 0;
        font-size: 1em;
    }
    .callback-box .callback-btn{
        margin: 20px 0 ;
    }
    .modal-box 	.modal-content{
        height: 100%;
        margin: 0 auto;
    }
    .modal-box .modal-box-inp{
        display: block;
        width: 100%;
        margin: 20px 0 ;
    }

}

