
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
@media all and (max-width: 768px) {

.sidebar{
    background: #010101;
    left: -200px;
    z-index: 996;
}
.sidebar-mob{
    top: 0
}
}
